<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
    <h1>
       {{ title }}
    </h1>
  <div class="formstyle">

<form [formGroup]="angForm" novalidate>
 
  <div class="form-group">
      Full Name:<span style="margin-left:11.3em">Date of Birth:</span><br>


      <input type="text" class="form-control" formControlName="name">
      <span style="margin-left:5em">
        <input type="date" class="form-control" formControlName="dob"></span>
  </div>
  <div *ngIf="angForm.controls['name'].invalid && (angForm.controls['name'].dirty || angForm.controls['name'].touched)" class="alert alert-danger">
      <div *ngIf="angForm.controls['name'].errors.required" class="error">
      Name is required.
    </div>
    <div *ngIf="angForm.controls['name'].errors.minlength" class="error">
      Name must be at least 4 characters long.
    </div>
  </div>
  

  <div *ngIf="angForm.controls['dob'].invalid && (angForm.controls['dob'].dirty || angForm.controls['dob'].touched)" class="alert alert-danger">
      <div *ngIf="angForm.controls['dob'].errors.required" class="error">
          <span style="margin-left:16em">Date of Birth is required.</span>
    </div>
  </div>
<br><br>

  <div class="form-group">
      Email:<span style="margin-left:13.1em">Contact Number:</span><br>


      <input type="email" class="form-control" formControlName="email">
      <span style="margin-left:5em">
        <input type="number" class="form-control" formControlName="num"></span>
  </div>


  <div *ngIf="angForm.controls['email'].invalid && (angForm.controls['email'].dirty || angForm.controls['email'].touched)" class="alert alert-danger">
      <div *ngIf="angForm.controls['email'].errors.required" class="error">
      Email is required.
    </div>
    <div *ngIf="angForm.controls['email'].errors.email" class="error">
      Invalid mail.
    </div>
  </div>

  
  <div *ngIf="angForm.controls['num'].invalid && (angForm.controls['num'].dirty || angForm.controls['num'].touched)" class="alert alert-danger">
      <div *ngIf="angForm.controls['num'].errors.required" class="error">
          <span style="margin-left:16em">Contact Number is required.</span>
    </div>
    <div *ngIf="angForm.controls['num'].errors.pattern" class="error">
        <span style="margin-left:16em">Invalid Contact Number.</span>
    </div>
  </div>

  <br><br>

  <div class="form-group">
      Password:<span style="margin-left:12em">Tell us about yourself:</span><br>
      <input type="password" class="form-control" formControlName="password"><br>
      <span style="margin-left:16em"><textarea cols="20" rows="2" style="border-style:solid;
        border-width: 3px;
        border-color: grey"name="about" 
         type="text" class="form-control" formControlName="abtu"></textarea></span>
  </div>
  <div *ngIf="angForm.controls['password'].invalid && (angForm.controls['password'].dirty || angForm.controls['password'].touched)" class="alert alert-danger">
      <div *ngIf="angForm.controls['password'].errors.required" class="error">
      Password is required.
    </div>
    <div *ngIf="angForm.controls['password'].errors.pattern" class="error">
      Password must contain <br>Minimum eight characters,<br> 
      at least one uppercase letter,<br> one lowercase letter,<br> 
      one number and one special character.
    </div>
  </div> 


  <div *ngIf="angForm.controls['abtu'].invalid && (angForm.controls['abtu'].dirty || angForm.controls['abtu'].touched)" class="alert alert-danger">
      <div *ngIf="angForm.controls['abtu'].errors.required" class="error">
     Describe yourself.
    </div>
    <div *ngIf="angForm.controls['abtu'].errors.minlength" class="error">
       Describe yourself in at least 20 characters.</div>
  </div> 
  <br><br>

  <div class="form-group">
    States:&nbsp;<select name="states" class="form-control" formControlName="states">
      <option value="Telangana">Telangana</option>
      <option value="Andhra Pradesh">Andhra Pradesh</option>
      <option value="Kerala">Kerala</option>
      <option value="Tamil Nadu">Tamil Nadu</option>
      <option value="Karnataka">Karnataka</option>
    </select><span style="margin-left:6em"> <input type="radio" value="male" class="form-control" formControlName="gender">Male
      <input type="radio" value="female" class="form-control" formControlName="gender">Female</span>


  </div>
  <div *ngIf="angForm.controls['states'].invalid && (angForm.controls['states'].dirty || angForm.controls['states'].touched)" class="alert alert-danger">
      <div *ngIf="angForm.controls['states'].errors.required" class="error">
      Select your state.
    </div>
  </div> 


  <div *ngIf="angForm.controls['gender'].invalid && (angForm.controls['gender'].dirty || angForm.controls['gender'].touched)" class="alert alert-danger">
      <div *ngIf="angForm.controls['gender'].errors.required" class="error"><span style="margin-left:16.2em">
      Gender is required.</span>
    </div>
  </div> 
<br><br>

  <div class="form-group">
  <input type="checkbox" >I want to receive email about updates to website.
  </div>
<br>

  <div class="form-group">
      <input type="checkbox" value="agree" class="form-control" formControlName="accept">
      I accept the <a href="Terms and Conditions">Terms and Conditions</a>.  
    </div>
  <div *ngIf="angForm.controls['accept'].invalid && (angForm.controls['accept'].dirty || angForm.controls['accept'].touched)" class="alert alert-danger">
      <div *ngIf="angForm.controls['accept'].errors.required" class="error">
      Agree to continue....
    </div>
  </div> 
<br><br><br>

  <div class="form-group">
      <div style="text-align: center"> <button [disabled]="angForm.pristine || angForm.invalid" class="button">Register</button>
  </div></div>

</form>
</div>
</div>

<!-- <p>Form value: {{ angForm.value | json }}</p>
<p>Form status: {{ angForm.status | json }}</p> -->
